@import '/src/scss/style.scss';

.booksView-main{
    padding: 40px 0;
    width: 90%;
    margin: 0 auto;

    .booksView-title{
        text-align: center;
        margin-bottom: 40px
    };

    .cards-container{
        display: flex;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        justify-content: center;
    }
}
