@import '/src/scss/style.scss';

.card-container{
    width: 290px;
    height: 350px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    position: relative;

    .book-img{
        width: 100%;
        min-height: 185px;
        margin-bottom: 15px;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
    }
    
    .bookInfo-container{
        width: 100%;
        padding: 0 10px 20px 10px;
        display: flex;
        flex-direction: column;
        gap: 5px;

        .card-title{
            font-size: 22px;
        }
    }
    
    .cross-container{
        font-size: 30px;
        position: absolute;
        top:10px;
        right: 10px;
        color: #9E9E9E;
        display: none;
        cursor: pointer;
    }

    .card-button-container{
        position: absolute;
        width: 100%;
        display: flex;
        justify-content: center;
        bottom: 15px;

        .card-button{
            width: 100px;
            height: 32px;
            border: none;
            border-radius: 13px;
            background: $lightBlue;
            color: $white;
            font-size: 16px;
            cursor: pointer;
        }
    }
}

.card-container:hover{
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
}

.card-container:hover .cross-container{
    display: block;
}