@import '/src/scss/style.scss';

.main-home{
    min-height: 100vh;
    display: flex;
    align-items: center;

    .login-section{
        width: 40%;
        margin: 0 auto;
        padding: 50px 0;
        border: 2px solid $borderGray;

        .login-title{
            margin-bottom: 50px;
            text-align: center;
            font-size: 30px;
        }

        .login-form{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 30px;
            width: 100%;
        
            .login-input{
                width: 80%;
                height: 40px;
                border-radius: 8px;
                border: 2px solid $borderGray;
                padding: 0 10px;
                background: $inputGray;
                font-size: 16px;
            }

            .login-button{
                width: 150px;
                height: 40px;
                border: none;
                border-radius: 8px;
                background: $lightBlue;
                color: $white;
                font-size: 16px;
            }
        }
    }
}

@media (max-width: 900px){
    .main-home{

        .login-section{
            width: 80%;
        }
    }
}